#menu {
    color:#04A2D6;
    width:100%;
    text-align: center;
    margin-top:5%;
    display: inline;
}
#menu i {
  font-size: 45px;
  cursor: pointer;
}
.menu-item {
    display:inline-block;
    padding:15px;
    margin-left:25px;
}

#main{
  color:#04A2D6;
  width:100%;
  text-align: center;
  margin-top:5%;
  font-size: 20px;
}
